@import "../../style/mixins.scss";
.spinner-decor {
  width: 4rem;
  height: 4rem;
  border: 0.3em solid $blue-color;
  border-right-color: transparent;
}

.spinner-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1200;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
}

.spinner-container {
  position: relative;
  left: 50%;
  top: 45%;
  width: 70px;
  height: 70px;
  padding: 1em;
  margin-left: -35px;
}
